#modal-default1.modal.fade.in
  .modal-dialog(style="width: 960px; margin: 30px auto;")
    .modal-content
      .modal-body
        span(style="font-size:20px") Danh sách các quảng cáo ở vị trí
        | &nbsp;   
        span.setPosition(style="font-size:20px;color:red")
        br
        br
        table.table
            thead
                tr
                    th
                        | #
                    th
                        |Tên quảng cáo
                    th
                        | DateFrom
                    th
                        | DateTo
                    th
                        | Toàn thời gian
                    th
                        | Trạng thái 
            tbody.getList
                

