.input-group
      button.daterange-btn.btn.btn-default.pull-right(type='button' name='_input_name' autocomplete="off")
        span
          i.fa.fa-calendar
          |  Date range picker
        i.fa.fa-caret-down
