    input.minimal(type='radio' name='_input_name' checked='1') 
            label.radio-cus radio 1
            input.minimal(type='radio' name='_input_name' checked='2') 
            label.radio-cus radio 2