block content
  script(type='text/javascript').
    $(function () {
      // phần này sẽ là validation cơ bản cho các input của form
    $('.select2').select2({
      templateResult: formatState,
      templateSelection: formatState
    });

    function formatState (opt) {
      var optimage = $(opt.element).attr('data-image'); 
      if(!optimage){
      return opt.text;
      } else {                    
          var $opt = $(
          '<span><img src="' + optimage + '" width="18px" /> ' + opt.text + '</span>'
          );
          return $opt;
      }
    };
      $( "#form-user" ).validate({
        rules: {
        fullName: {required: true},
          address: {required: true},
          email: {required: true},
          phone: {required: true},
          bankName: {required: true},
          bankAccount: {required: true},
          bankAccountName: {required: true},
          status: {required: true}
        },
        messages: {
          fullName: 'Hãy bổ sung tên đầy đủ',
          address: 'Hãy bổ sung địa chỉ',
          email: 'Hãy bổ sung email',
          phone: 'Hãy bổ sung số điện thoại',
          bankName: 'Hãy bổ sung tên ngân hàng',
          bankAccount: 'Hãy bổ sung thêm số tài khoản ngân hàng',
          bankAccountName: 'Hãy bổ sung tên chủ tài khoản',
          status: 'Hãy bổ sung trạng thái'
        },
        errorElement: "em",
        errorPlacement: function ( error, element ) {
          error.addClass( "help-block" );
          if ( element.prop( "type" ) === "checkbox" ) {
            error.insertAfter( element.parent( "label" ) );
          } else {
            error.insertAfter( element );
          }
        },
        highlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".input-data-block" ).addClass( "has-error" ).removeClass( "has-success" );
        },
        unhighlight: function (element, errorClass, validClass) {
          $( element ).parents( ".input-data-block" ).addClass( "has-success" ).removeClass( "has-error" );
        },
        submitHandler: function(form) {
          const id = $('#id').val() ? $('#id').val() : null
          updateForm(form,id)
        }
      });
    })