block content
  script(type='text/javascript').
    $(function () {
      // khởi tạo hoặc default biến, giá trị input bằng js
      $('#form-tag .datepicker').datepicker({
        autoclose: true
      })
      $('#form-tag .reservation').daterangepicker()
      $('#form-tag .reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, locale: { format: 'DD/MM/YYYY hh:mm A' }})
      $('#form-tag .daterange-btn').daterangepicker(
        {
          ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate  : moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )
      $('.timepicker').timepicker({
        showInputs: false
      });

      // Khởi tạo textarea
      $('#form-tag .summernote').summernote({
        height: 350,   //set editable area's height
        codemirror: { // codemirror options
          theme: 'monokai'
        },
        callbacks: { onImageUpload: function(files, editor, welEditable) {
          console.log('files', files);
          sendFile(files[0], editor, welEditable);
          }
        }
      });
    });

    function sendFile(file, editor, welEditable) {
      data = new FormData();
      data.append("file", file);
      $.ajax({
        data: data,
        type: "POST",
        url: "/admin/media/add?type=form",
        cache: false,
        contentType: false,
        processData: false,
        success: function(res) {
          // editor.insertImage(welEditable, url);
          $('#form-tag .summernote').summernote('editor.insertImage', res.link);
        }
      });
    }