extends ../../layouts/base
block title
  h1 Danh sách nhóm quyền
block content
  .box
    .box-body
      .row
        .col-lg-12.col-md-12
          .buttons-toolbar
          #toolbar
            a.btn.btn-success.button-manager(href='/admin/grouprole/add')
              i.fa.fa-plus
              |  Tạo 
            button#remove_grouprole.btn.btn-danger.button-manager(disabled='')
              i.fa.fa-trash
              |  Xóa 
            a(href='').btn.btn-default.button-manager
              i.fa.fa-refresh
              |  Refresh 
          br
          //- .row#box_filter_grouprole(style="margin-top: 7px")
          //-   .col-lg-4.col-md-4
          //-     label Key search
          //-     .form-group
          //-       input#search.form-control(type='text' placeholder='title...' name='search' autocomplete="off")
          //-   .col-lg-2.col-md-2
          //-     .form-group
          //-       label Tìm kiếm theo
          //-       select#order.select2.form-control.status-selection(name='order')
          //-         option(value='') Tất cả
          //-         option(value='0') Trạng thái
          //-   .col-lg-2.col-md-2  
          //-     .form-group
          //-       label Bắt đầu
          //-       .input-group.date
          //-         .input-group-addon
          //-           i.fa.fa-calendar
          //-         input#start_date.datepicker.form-control.pull-right(type='text' name="start_date" autocomplete="off")
          //-   .col-lg-2.col-md-2  
          //-     .form-group
          //-       label Kết thúc
          //-       .input-group.date
          //-         .input-group-addon
          //-           i.fa.fa-calendar
          //-         input#end_date.datepicker.form-control.pull-right(type='text' name="end_date" autocomplete="off")
          table#table_grouprole(data-buttons-toolbar='.buttons-toolbar' data-toolbar-align='unset' data-search='false' data-icons-prefix='fa' data-show-refresh='false' data-show-toggle='false' data-show-columns='true' data-show-export='true' data-detail-view='false' data-detail-formatter='detailFormatter' data-minimum-count-columns='2' data-show-pagination-switch='false' data-pagination='true' data-id-field='id' data-page-list='[30]' data-show-footer='false' data-side-pagination='server' data-url='/admin/grouprole/ajax-list' data-query-params='queryParams' data-response-handler='responseHandler')
  script.
    var fields = [{"field":"name","title":"Tên nhóm quyền"},{"field":"type","title":"slug"},{"field":"status","title":"Trạng thái", "formatter": "showStatus"}]
    var urlManager = '/admin/grouprole';
    var setLimitRow = 30;
  include ./_tablejs